@font-face {
    font-family: 'Barrio';
    src: url('../fonts/Barrio/Barrio-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Supermercado One';
    src: url('../fonts/Supermercado_One/SupermercadoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Assistant';
    src: url('../fonts/Assistant/static/Assistant-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
}

:root {
    --white: #D9DCD7;
    --grey: #545454;
    --black: #131313;
    --pink_600: #B6325B;
    --pink_500: #C76B88;
    --pink_400: #C6A3AE;
    --orange_600: #9C3F21;
    --orange_500: #DD7552;
    --orange_400: #F6B7A2;
    --yellow_600: #796D19;
    --yellow_500: #CEBF54;
    --yellow_400: #F0E69E;
    --green_600: #1C793D;
    --green_500: #65C587;
    --green_400: #A7D7B8;
    --blue_600: #2A6085;
    --blue_500: #60A4D3;
    --blue_400: #A3C7E0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    overflow-x: hidden;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.hidden {
    display: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 32px 24px;
    width: 100%;
    height: 98px;
    background-color: var(--green_400);
    border-bottom: 3px solid var(--green_600);
}

header>img {
    cursor: pointer;
    transition: transform .5s;
}

header>img:hover {
    transform: scale(1.1);
}

header h1 {
    font-family: "Supermercado One", serif;
    font-size: 24px;
    color: var(--blue_600);
}

/* NAV */

nav {
    max-height: 430px;
    position: absolute;
    top: 98px;
    background-color: var(--green_400);
    padding: 24px 16px;
    z-index: 16;
    transition: all .3s ease-out;
    overflow: hidden;
}

.mainNav {
    left: 0;
    border-bottom-right-radius: 20px;
    border-right: 3px solid var(--green_600);
    border-bottom: 3px solid var(--green_600);
}

.userNav {
    right: 0;
    border: 0;
    padding-left: 24px;
    border-bottom-left-radius: 20px;
    border-left: 3px solid var(--green_600);
    border-bottom: 3px solid var(--green_600);
}

.navHide {
    padding: 0;
    max-height: 0;
    border: 0;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

nav .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--green_600);
}

nav a,
nav button {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-family: "Supermercado One", serif;
    background-color: transparent;
    cursor: pointer;
}

nav .home_a {
    color: var(--yellow_600);
}

nav .user_a {
    color: var(--blue_600);
}

nav .book_a {
    color: var(--pink_500);
}

nav .author_a {
    color: var(--pink_600);
}

nav .loan_a {
    color: var(--orange_600);
}

nav .report_a {
    color: var(--green_600);
}

nav .plus_a {
    color: var(--black);
}

/* DIALOGS */

dialog {
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(19, 19, 19, 0.25);
    padding: 16px;
}

dialog .dialog_content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.dialog_content>button {
    rotate: 45deg;
    background-color: transparent;
    cursor: pointer;
    transition: transform .5s;
}

.dialog_content>button:hover {
    transform: scale(.9);
}

dialog::backdrop {
    background-color: rgba(19, 19, 19, 0.25);
}

/* INPUTS */

.primary_input {
    width: 196px;
    height: 32px;
    position: relative;
}

.primary_input input {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 16px;
    width: 196px;
    height: 32px;
    padding-left: 8px;
    color: white;
    font-family: "Assistant", sans-serif;
    transition: all .5s;
}

.primary_input span {
    position: absolute;
    top: 0;
    left: 6px;
    font-size: 16px;
    color: var(--grey);
    font-family: "Assistant", sans-serif;
    transition: all .5s;
}

.input_background {
    background-color: var(--blue_500);
    max-height: 2px;
    width: 196px;
    height: 32px;
    position: absolute;
    bottom: 0;
    border-radius: 8px;
    transition: all .5s;
}

.primary_input input:focus ~ span,
.primary_input input:valid ~ span {
    transform: translateY(-100%);
    left: 0;
    font-size: 14px;
    color: var(--blue_500);
}

.primary_input input:focus ~ .input_background,
.primary_input input:valid ~ .input_background {
    max-height: 30px;
}

/* BUTTONS */

.primary_btn {
    font-family: "Supermercado One";
    height: 40px;
    font-size: 20px;
    background-color: var(--blue_500);
    color: white;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .3s;
    z-index: 1;
}

.primary_btn::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    max-width: 0;
    border-radius: 9px;
    background-color: white;
    transition: all .3s;
    z-index: -1;
}

.primary_btn:hover::before {
    max-width: 100%;
}

.primary_btn:hover {
    color: var(--blue_500);
}